

.detailsContentWrapper {
    position: relative;
}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
    margin: 0;
    padding: 0;
}
.detailsBox {
    clear: both;
	min-height: 365px;
	width: 775px;
    position: absolute;
    padding: 7px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

body {
    font: 13px 'lucida grande', arial, tahoma, verdana, sans-serif;
}

#map_container {
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.returnToSearch {
    text-align: right;
    position: relative;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
}

.map-menu {
    margin-top: 0;
}

.simpleSearchContainer {
    position: relative;
    height: 67px;
    left: 2px;
}

.searchFieldContainer {
    padding: 6px 0;
    font-size: 13px;
    color: #262626;
    text-shadow: #fff 0 1px 0;
}

.searchFields {
    float: left;
    width: 295px;
}

.searchHeader {
    position: relative;
    padding-bottom: 2px;
    font-size: 11px;
}

.searchFieldDesc {
    position: relative;
    font-size: 10px;
    color: #7f7f7f;
    padding-top: 1px;
}

.searchFieldDesc a {
    cursor: pointer;
}

input.searchField {
    width: 282px;
    height: 20px;
    font-size: 13px;
    border: 1px solid #8c8c8c;
    padding-top: 4px;
    padding-left: 4px;
    background: url(images/search-field-bg.png) repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 8px;
}

.expandSearchTrigger {
    float: right;
    height: 30px;
    font-size: 11px;
    position: relative;
    top: 36px;
    right: -88px;
}

#showTrigger {
    background-position: 0 0;
}

#hideTrigger {
    background-position: 0 -30px;
}

.expandSearchTrigger a{
    color: #787878;
    text-decoration: none;
    display: block;
    padding-bottom: 15px;
}

.expandSearchTrigger a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#searchButton {
    float: right;
    font-weight: bold;
    position: relative;
}

/* @end */

.searchButton {
    cursor: pointer;
    width: 90px;
    line-height: 26px;
    background: url(images/button-bg-r.png) no-repeat right 0;
    text-align: center;
    font-size: 13px;
    padding: 0 5px 0 0;
    right: 10px;
}
.searchButton a {
    position: relative;
    height: 28px;
    display: block;
    white-space: nowrap;
    padding: 0 0 0 7px;
    background: url(images/button-bg-l.png) no-repeat left 0;
    text-decoration: none;
    text-shadow: #fff 0 1px 0;
    color: #262626;
}

.searchButton:hover {
    background-position: right -30px;
}

.searchButton:hover a {
    background-position: left -30px;
}

.searchButton:active {
    background-position: right -60px;
}

.searchButton:active a {
    background-position: left -60px;
}

/* @group Advanced Search */

.searchOptionsContainer {
    position: relative;
    left: 2px;
    width: 100%;
    height: 57px;
    padding-top: 5px;
}

.searchOptionsColumn {
    float: left;
    width: 300px;
    padding-left: 5px;
    font-size: 12px;
    text-shadow: #fff 0 1px 0;
}

.searchOptionsLabel {
    float: left;
    width: 100px;
    height: 22px;
    clear: left;
    padding-top: 3px;
}

.searchOptionsField {
    float: left;
    width: 190px;
    text-shadow: #fff 0 1px 0;
    padding-bottom: 5px;
}

.searchOptionsField input {
    font-family: 'lucida grande', arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    height: 15px;
    _height: 21px;
    width: 173px;
    padding-left: 1px;
    margin-left: 2px;
}

.searchOptionsFields {
    float: left;
    width: 190px;
    text-shadow: #fff 0 1px 0;
    padding-bottom: 5px;
}

.searchOptionsField select {
    font-family: 'lucida grande', arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    width: 147px;
}

.searchOptionsFields input {
    font-family: 'lucida grande', arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    height: 15px;
    _height: 21px;
    width: 75px;
    padding-left: 1px;
    margin-left: 2px;
}

.searchOptionsField input.largeInput {
    font-family: 'lucida grande', arial, tahoma, verdana, sans-serif;
    font-size: 12px;
    height: 15px;
    _height: 20px;
    width: 120px;
    padding-left: 1px;
}

.searchOptionsField input.checkbox {
    width: 20px;
}

.searchOptionsField .checkbox {
    width: 14px;
    margin-left: 0;
    padding-left: 0;
}

.searchOptionsField.disabled {
    color: #999999;
}

.parent {
    font-weight: bold;
    padding-top: 3px;
    color:red;
}

.child {
    padding-left: 10px;
}

/* @end */

#searchButtonProgress {
    position: absolute;
    width: 80px;
    height: 4px;
    bottom: 2px;
    _bottom: -10px;
    left: 8px;
    background: url(images/search-progress.gif) no-repeat;
}

/* Safari Custom Date fix */

@media screen and (-webkit-min-device-pixel-ratio:0){

    html {
        list-style-image:none;
    }

}