@charset "UTF-8";

.detailsMapBox {
    top: 0;
    bottom: 50px
}

.paging {
    position: absolute;
    bottom: 0;
    width: 100%;
	color: #221F73;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #fff;
}


/*.paging div {*/
.page {
    display: inline;
    box-sizing: border-box;
    text-align: -webkit-match-parent;
    font-size: 1.2em;
    font-weight: bold;
	float: left;
	height: 24px;
	width: 24px;
	padding-top: 2px;
	text-align: center;
	vertical-align: middle;
    border: 1px solid #221F73;
}

.page:hover{
   background-color: #8c8c8c;
}

.page.selected{
    background-color: #221F73;
    color: white;
}