<div id="container2">
    <h1 style="color: white;">Garmin-style Example</h1>
</div>
<div id="container3">
    <p>This map is the demo for my blog post
    <a href="https://exploringspatial.wordpress.com/2015/01/04/rendering-a-geojson-layer-in-leaflet/" target="_blank">Rendering a GeoJSON layer in Leaflet</a>.</p>
        <div id="detailsMapBox" class="detailsBox">
            <div class="map-controls">
                <ul class="map-control-item map-zoom"></ul>
                <div class="map-control-item map-select map-provider"></div>
                <div class="map-control-item map-select map-type"></div>
                <div class="map-control-item map-select map-layers"></div>
            </div>
            <div id="map_container" width="<%= mapWidth %>" height="<%= mapHeight %>" class="detailMap"></div>
        </div>
</div>