<a href="#" class="map-btn map-select-trigger overlay-ctrl-trigger" title="Map Layers">
    <span class="map-btn-icon">Layers</span>
    <span class="arrow-down"></span>
</a>
<ul class="map-menu overlay-menu" style="display: none;">
    <li class="map-menu-item" style="display: none;">
        <a href="#" class="map-layer-terrain overlay-item" title="Show Topographical Details">
            <span class="map-btn-icon"></span>Terrain
        </a>
    </li>
    <li class="map-menu-item" style="display: none;">
        <a href="#" class="map-layer-bicycle overlay-item" title="Show Bike Lanes, Paths, and Trails">
            <span class="map-btn-icon"></span>Bicycle
        </a>
    </li>
    <li class="map-menu-item" style="display: none;">
        <a href="#" class="map-layer-labels overlay-item selected" title="Show Map Names and Labels">
            <span class="map-btn-icon"></span>Labels
        </a>
    </li>
</ul>