<div class="provider">
    <a href="#" class="map-btn map-select-trigger provider-ctrl-trigger">
        Google
        <span class="arrow-down"></span></a>
    <ul class="map-menu toggle-selected provider-menu" style="display: none;">
        <li class="map-menu-item">
            <a href="#" class="map-provider-google item selected">
                <span class="map-btn-icon"></span>Google
            </a>
        </li>
        <!--<li class="map-menu-item">-->
            <!--<a href="#" class="map-provider-bing item">-->
                <!--<span class="map-btn-icon"></span>Bing-->
            <!--</a>-->
        <!--</li>-->
        <li class="map-menu-item">
            <a href="#" class="map-provider-osm item">
                <span class="map-btn-icon"></span>OpenStreetMap
            </a>
        </li>
    </ul>
</div>