
    <div class="simpleSearchContainer">
        <div class="searchFieldContainer">
            <div class="searchFields">
                <div class="searchHeader">Search:</div>
                <input id="keyword" type="text" class="searchField" value="<%= name %>"/>
                <div class="searchFieldDesc">
                    Word(s) from the name.
                </div>
            </div>
            <div class="searchFields">
                <div class="searchHeader">
                    <div class="searchLocation">Place:</div>
                    <input type="text" class="searchField location"/>
                    <div class="searchFieldDesc" style="width:450px;">
                        City, State, etc..
                    </div>
                </div>
            </div>
            <div id="searchButton" class="searchButton">
                <a>Search</a>
                <div id="searchButtonProgress" style="display: none;"></div>
            </div>
            <div id="showTrigger" class="expandSearchTrigger">
                <a>Show More Options</a>
            </div>
            <div id="hideTrigger" class="expandSearchTrigger" style="display: none;">
                <a>Show Fewer Options</a>
            </div>
        </div>
    </div>

    <div class="expandedSearchFilters" style="display: none;">
        <div class="searchOptionsContainer">
            <div class="searchOptionsColumn" >
                <div class="searchOptionsLabel" >Date Range:</div>
                <div class="searchOptionsField">
                    <input id="minDate" type="text" title="Minimum Date" value="<%= minDate %>" style="position: relative; z-index: 1002"  /> -
                    <input id="maxDate" type="text" title="Maximum Date" value="<%= maxDate %>" style="position: relative; z-index: 1002"  />
                </div>
            </div>

            <div class="searchOptionsColumn">
                <div class="searchOptionsLabel">Dist Range (mi.):</div>
                <div class="searchOptionsField">
                    <input id="minDistance" type="text" title="Min Distance" value="<%= minDistance %>" /> -
                    <input id="maxDistance" type="text" title="Max Distance" value="<%= maxDistance %>" />
                </div>
            </div>

        </div>
    </div>