@charset "UTF-8";

.searchBox  {
    position: absolute;
    width: 100%;
    height: 70px;
}

.detailsMapBox {
    top: 100px;
    bottom: 0;
}

.searchOptionsContainer {
    clear: both;
    margin-top: 60px;
}
