<a href="#" class="map-btn map-select-trigger type-ctrl-trigger">Map
    <span class="arrow-down"></span>
</a>
<ul class="map-menu toggle-selected type-menu" style="display: none;">
    <li class="map-menu-item">
        <a href="#" class="map-type-map selected" title="Show Road Map">
            <span class="map-btn-icon"></span>Map
        </a>
    </li>
    <li class="map-menu-item">
        <a href="#" class="map-type-satellite" title="Show Satellite Images">
            <span class="map-btn-icon"></span>Satellite
        </a>
    </li>
</ul>