<div id="container2">
    <h1 style="color: white;">Working with Polygons</h1>
</div>
<div id="container3">
    <h1>Leaflet Polygon Events Example</h1>
    <p>
        This demo is just a quick example of working with Leaflet multi-polygon shapes (Kansas counties).
               Its purpose was to show a co-worker migrating a Bing 6.3 map to Bing 7.0 that Leaflet can break
               the dependency on propriety map APIs. The county GeoJSON data is courtesy of
        <a href="http://catalog.opendata.city/dataset/kansas-counties-polygon/resource/815cebfa-5666-4f7d-943c-f53945a4347e">Civic DashBoards</a>.
    </p>
    <div id="demo7_container">
    <div><strong>County Name</strong></div>
    <div id="county_list" class="county-list"></div>
    <div id="map_container" class="demo7Map"></div>
    </div>
</div>