<h1 id="demo7Title"><a href="#demo/7">Demo 7 - Working with Polygons</a></h1>
<div id="demo7Narrative" class="demoNarrative">
    <p>This demo uses the uses a GeoJSON file containing Kansas counties and three overlapping shaps
    to so how Leaflet shape events can be programmed.</p>
</div>
<h1 id="demo6Title"><a href="#demo/6">Demo 6 - Armed Conflict in Africa</a></h1>
<div id="demo6Narrative" class="demoNarrative">
    <p>This demo uses the PruneCluster plugin to cluster over 99,000 incidents of armed conflict in Africa between
    1971 and 2014 from the <a href="http://www.acleddata.com" target="_blank">ACLED</a> 1971 - 2014 dataset. The accompanying blog post will follow soon.</p>
</div>
<h1 id="demo5Title"><a href="#demo/5">Demo 5 - GeoJSON Feature Collection</a></h1>
<div id="demo5Narrative" class="demoNarrative">
    <p>This example shows the use of a Leaflet GeoJSON map layer to display a Feature Collection containing my running activities from Garmin Connect.
    A GeoJSON layer is created using JSON output by a GeoTools FeatureCollection. Each Feature in the collection is an activity summary (no polyline).</p>
    <p>It also demonstrates Leaflet's Marker Cluster plugin. The marker cluster map layer is used as a wrapper around the GeoJSON layer.</p>
    <p>Finally, this demo shows a click listener on the popup to drill down into the activity. The marker cluster layer is replaced by a
    Leaflet GeoJSON map layer built from an activity's GeoJSON. The "Return to Search" links swaps the map layers back again.</p>
</div>
<h1 id="demo4Title"><a href="#demo/4">Demo 4 - Garmin-style Example</a></h1>
<div id="demo4Narrative" class="demoNarrative">
    <p>This example shows the use of Backbone, Underscore, RequireJS and Leaflet to display a GeoJSON running activity from Garmin Connect.</p>

    <p style="margin-bottom: 20px">This demo is almost complete. I still have to implement the Laps feature, and implement the Google bike trails overlay.
        Also, there is a bug in the map provider, type and overlay menus. I believe the trigger is picking a Google overlay, like HYBRID, and then
        switching to OSM or Bing, which don't support that. I haven't taken the time to track down the root cause.</p>
</div>
<h1 id="demo3Title"><a href="#demo/3">Demo 3 - Mapbox Example</a></h1>
<div id="demo3Narrative" class="demoNarrative">
    <p>This example is the "Hello World" of mapping, the <a href="http://earthquake.usgs.gov/earthquakes/map/doc_aboutdata.php" target="_blank" >USGS feed of earthquakes for the past 7 days</a>.
        I used the feed from late August, 2013, to create this earthquake map for the <a href="http://www.mapbox.com/tilemill/docs/crashcourse/introduction/" target="_blank">TileMill Crash Course</a>.
    </p>
    <p>The tutorial has you import the <a href="http://earthquake.usgs.gov/earthquakes/feed/csv/2.5/week" target="_blank" >USGS earthquake CSV file</a>,
        add a legend and change some styles, and then export 6 zoom levels to import into MapBox. Below is a link to the tutorial map tiles in an iFrame.</p>
</div>
<h1 id="demo2Title"><a href="#demo/2">Demo 2 - ArcGIS Earthquake Data</a></h1>
<div id="demo2Narrative" class="demoNarrative">
    <p>This example is the "Hello World" of mapping, the <a href="http://earthquake.usgs.gov/earthquakes/map/doc_aboutdata.php" target="_blank" >USGS feed of earthquakes for the past 7 days</a>.
        I used the feed from late July, 2013, to create this earthquake map for one of the lessons in the <a href="https://www.coursera.org/course/maps" target="_blank">Geospatial Revolution</a> course.
    </p>
</div>
<h1 id="demo1Title"><a href="#demo/1">Demo 1 - Basic Leaflet Example</a></h1>
<div id="demo1Narrative" class="demoNarrative">
    <p>This example, lifted from Leaflet's <span style="font-style: italic;"><a
            href="http://leafletjs.com/examples/layers-control-example.html">Layer Groups and Layers Control</a></span>
        tutorial and modified, shows the switching of base map tiles with Leaflet.</p>

    <p>I recently switched to a Leaflet plugin for Google written by Patel Shramov.</p>
</div>
<br class="clearBoth">