<h1 id="demo1Title"><a href="#demo1">Basic Leaflet Example</a></h1>
<div id="demo1Narrative" class="demoNarrative">
<p>This example, lifted from Leaflet's <span style="font-style: italic;"><a
        href="http://leafletjs.com/examples/layers-control-example.html">Layer Groups and Layers Control</a></span>
    tutorial and modified, shows the switching of base map tiles with Leaflet.</p>

<p>I added a Google maps plug-in found in the post <i><a
        href="http://matchingnotes.com/using-google-map-tiles-with-leaflet">Using Google Map tiles with
    Leaflet</a></i>. Note the shapes and events don't work with my Google layer. I need to find a different plug-in for
    Google.</p>
</div>
<h1 id="demo2Title"><a href="#demo2">ArcGIS Earthquake Data</a></h1>
<div id="demo2Narrative" class="demoNarrative">
    <p>This example is the "Hello World" of mapping, the <a href="http://earthquake.usgs.gov/earthquakes/map/doc_aboutdata.php" target="_blank" >USGS feed of earthquakes for the past 7 days</a>.
        I used the feed from late July, 2013, to create this earthquake map for one of the lessons in the <a href="https://www.coursera.org/course/maps" target="_blank">Geospatial Revolution</a> course.
    </p>
</div>
<h1 id="demo3Title"><a href="#demo3">Mapbox Example</a></h1>
<div id="demo3Narrative" class="demoNarrative">
    <p>This example is the "Hello World" of mapping, the <a href="http://earthquake.usgs.gov/earthquakes/map/doc_aboutdata.php" target="_blank" >USGS feed of earthquakes for the past 7 days</a>.
        I used the feed from late August, 2013, to create this earthquake map for the <a href="http://www.mapbox.com/tilemill/docs/crashcourse/introduction/" target="_blank">TileMill Crash Course</a>.
    </p>
    <p>The tutorial has you import the <a href="http://earthquake.usgs.gov/earthquakes/feed/csv/2.5/week" target="_blank" >USGS earthquake CSV file</a>,
        add a legend and change some styles, and then export 6 zoom levels to import into MapBox. Below is a link to the tutorial map tiles in an iFrame.</p>
</div>
<h1 id="demo4Title"><a href="#demo4">Garmin-style Example</a></h1>
<div id="demo4Narrative" class="demoNarrative">
    <p>This example shows the use of Backbone, Underscore, RequireJS and Leaflet. It is still a work in
        progress.</p>

    <p style="margin-bottom: 20px">At the moment you can only switch between Google and OSM. I'm still looking
        for a Bing plug-in I can make work.
        The rest of the functionality will follow soon.</p>
</div>
<br class="clearBoth">