<div id="container2">
    <h1 style="color: white;">Working with Leaflet-PIP</h1>
</div>
<div id="container3">

    <p>
        This demo is for my blot post <a href="https://exploringspatial.wordpress.com/2015/11/25/breaking-dependence-on-vendor-map-apis-leaflet/" target="_blank">
        Breaking Dependence on Vendor Map APIs with Leaflet</a>.
    </p>

    <div id="demo7_container">
        <div><strong>County Name</strong></div>
        <div id="county_list" class="county-list"></div>
        <div id="map_container" class="demo7Map"></div>
        <div class="logo"></div>
    </div>

</div>