<div id="container2">
    <h1 style="color: white;">Privacy Geofencing Example</h1>
</div>
<div id="container3">
    <p>This demo is for my blot post <a target="_blank" href="https://exploringspatial.wordpress.com/2015/11/29/privacy-geofencing/">Privacy Geofencing</a>.
        The red line is the visible part of the polyline. The gray line represents the "hidden" portions of the polyline. The gray box represents the
        privacy geofence that normally would not be shown.</p>
    <div id="detailsMapBox" class="detailsBox">
        <div id="map_container" class="detailMap" style="float: right"></div>

    </div>
</div>
<div id="paging" class="paging">
</div>