<div id="container2">
    <h1 style="color: white;">ArcGIS Earthquake Data</h1>
</div>
<div id="container3">
    <iframe width="<%= mapWidth %>" height="<%= mapHeight %>" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.arcgis.com/home/webmap/templates/OnePane/basicviewer/embed.html?webmap=0e73fa10d87940979c9e026578b8ce52&amp;gcsextent=-180,-50.7791,-17.7411,67.7838&amp;displayslider=true&amp;displayscalebar=true&amp;displaylegend=true&amp;displaybasemaps=true"></iframe>
</div>