<div id="container2">
    <h1 style="color: white;">Working with Polygons</h1>
</div>
<div id="container3">
    <h1>Leaflet Polygon Event Example</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam blandit mauris at augue accumsan lobortis.
        Nam eget vulputate felis, id tristique tortor. Etiam efficitur vulputate odio, at consequat arcu pretium nec.
        Nulla facilisi. Vestibulum at turpis magna. Nam porta metus erat, a mattis felis aliquam vel.</p>
    <div id="demo7_container">
    <div id="county_list" style="float:left">Hello</div>
    <div id="map_container" class="demo7Map"></div>
    </div>
</div>