<div id="container2">
    <h1 style="color: white;">Armed Conflict in Africa: 1971 - 2014</h1>
</div>
<div id="container3">
    <div id="searchBox" class="activitiesSearchBox" style=""></div>
    <div class="returnToSearch" style="display: none">
        <a class="returnTrigger" href="javascript:void(0);">Return to Search</a>
    </div>
    <div id="detailsMapBox" class="detailsBox">
        <div class="map-controls">
            <ul class="map-control-item map-zoom"></ul>
            <div class="map-control-item map-select map-provider"></div>
            <div class="map-control-item map-select map-type"></div>
            <div class="map-control-item map-select map-layers"></div>
        </div>
        <div id="map_container" width="<%= mapWidth %>" height="<%= mapHeight %>" class="detailMap"></div><br class="clearBoth">
        <div id="progressbar" style="width: 100%; display: none"><div class="progress-label">Loading...</div></div>
    </div>
</div>