<div id="container2">
    <h1 style="color: white;">FeatureCollection map layer example</h1>
</div>
<div id="container3">
        <div id="detailsContentWrapper" class="detailsContentWrapper">
        <div id="detailsMapBox" class="detailsBox">
            <div class="detailsBoxTrigger expanded"></div>
            <div class="detailsBoxTitle map">Map</div>
            <div class="detailsBoxCollapseArea">
                <div class="map-controls">
                    <ul class="map-control-item map-zoom"></ul>
                    <div class="map-control-item map-select map-provider"></div>
                    <div class="map-control-item map-select map-type"></div>
                    <div class="map-control-item map-select map-layers"></div>
                </div>
                <div id="map_container" width="<%= mapWidth %>" height="<%= mapHeight %>" class="detailMap"></div>
            </div>
        </div>
    </div>
</div>