<div id="demoBanner">
    <h1 class="demoHeader" id="demoTitle"></h1>
    <ul class="buttons" style="position: absolute; right: 2px; top: 5px">
        <li><a class="left" style="{width: 60px}" href="javascript:void(0)">Prev</a></li>
        <li><a class="right" style="{width: 60px}" href="javascript:void(0)">Next</a></li>
        <li><a class="info" style="{width: 60px}" href="javascript:void(0)">Demo Descripiton</a></li>
    </ul>
</div>
<div id="demoBody">
    <div class="loading"></div>
</div>
