<div id="container2">
    <h1 style="color: white;">Leaflet Shapes and Layers</h1>
</div>
<div id="container3">
    <h1>Leaflet and Map Layers</h1>

    <p>This example is from my blog post, <a href="https://exploringspatial.wordpress.com/2013/08/22/learning-leaflet/" target="_blank">Learning Leaflet</a>, where I combine Leaflet's <a href="http://leafletjs.com/examples/quick-start-example.html" target="_blank">
    quick start tutorial</a>, wen a <a href="http://matchingnotes.com/using-google-map-tiles-with-leaflet" target="_blank">layers example</a> posted by
    <a href="https://twitter.com/james_croft" target="_blank">@James_croft</a>.</p>
    <div id="map" width="<%= mapWidth %>" height="<%= mapHeight %>" class="detailMap"></div>
</div>