<style>
    #map_container:active {
        cursor: crosshair !important;
    }
</style>
<div id="demo_sidepanel">
    <div id="locationContainer"></div>
    <div id="propertiesContainer" style="clear:both"></div>
    <div id="controlsContainer" style="clear:both"></div>
</div>
<div id="detailsMapBox" class="detailsMapBox" style="top: 0; bottom: 0">
    <div id="map_container" class="detailMap" style="position: absolute; right: 0; top: 0"></div>
    <div id="chart" class="detailChart" style="position: absolute; right: 0; bottom: 0"></div>
</div>