<div id="demo_sidepanel">
    <aside>
        <label class="location">
            <span class="fieldLabel">Location</span>
            <input id="location" type="text" title="Location keywords"><a href="javascript:void(0);"></a>
                    <br/>
            <div class="searchFieldDesc" >Word(s) from location name.</div>
        </label>
        <br/>
        <aside>
</div>
<div id="detailsMapBox" class="detailsMapBox" style="top: 0; bottom: 0">
    <div id="map_container" class="detailMap" style="position: absolute; right: 0; top: 0"></div>
    <div id="chart" class="detailChart" style="position: absolute; right: 0; bottom: 0"></div>
</div>