<style>
    #map_container:active {
        cursor: crosshair !important;
    }
</style>
<div id="demo_sidepanel">
    <aside>
        <label class="location">
            <span class="fieldLabel">Location:</span>
            <input id="location" type="text" title="Location keywords" /><a href="javascript:void(0);"></a>
            <br/>
        </label>
        <br/>
        <label>
            <span class="fieldLabel">Name:</span>
            <input id="name" type="text" title="Route name." style="margin-left: 20px; width: 190px" value="<%= model.name %>"/>
        </label>
        <br/>
        <label>
            <span class="fieldLabel"  style="margin-right: 5px;">Distance:</span>
            <%= model.distance %> mi.
        </label>
        <br/>
    </aside>
    <ul class="buttons" style="">
        <li class="reset" style="display: none;" ><a style="width: 60px;" href="javascript:void(0)">Reset</a></li>
        <li class="undo" style="display: none;" ><a style="width: 60px;" href="javascript:void(0)">Undo</a></li>
        <li class="save" style="display: none;" ><a style="width: 60px;" href="javascript:alert('Not yet implemented.')">Save</a></li>
    </ul>
</div>
<div id="detailsMapBox" class="detailsMapBox" style="top: 0; bottom: 0">
    <div id="map_container" class="detailMap" style="position: absolute; right: 0; top: 0"></div>
    <div id="chart" class="detailChart" style="position: absolute; right: 0; bottom: 0"></div>
</div>