<table class="infobox">
    <tr>
        <th class="fieldLabel">Distance:</th>
        <td> <%= distance %> mi</td>
    </tr>
    <tr>
        <th class="fieldLabel">Latitude:</th>
        <td><%= latitude %></td>
    </tr>
    <tr>
        <th class="fieldLabel">Longitude:</th>
        <td><%= longitude %></td>
    </tr>
    <tr>
        <th class="fieldLabel">Actions:</th>
        <td><a id='<%= triggerId %>' href='javascript:void(0);' class='popupTrigger' >Delete</a></td>
    </tr>
    <tr>
</table>