<fieldset>
    <label>
        <span class="fieldLabel">Snap to Roads:</span>
        <input id="snapToRoads" type="checkbox" style="height: 10px !important;" name="snapToRoads" <%=snapToRoads%> />
    </label>
    <label>
        <span class="fieldLabel">Transit Mode:</span>
        <select id="transitMode">
            <option <%=walkingSelected%> >Walking</option>
            <option <%=runningSelected%> >Running</option>
            <option <%=bikingSelected%> >Bicycling</option>
        </select>
    </label>
</fieldset><br/>
<ul class="buttons" style="clear: both">
    <li class="reset" style="display: none;"><a style="width: 60px;" href="javascript:void(0)">Reset</a></li>
    <li class="undo" style="display: none;"><a style="width: 60px;" href="javascript:void(0)">Undo</a></li>
    <li class="save" style="display: none;"><a style="width: 60px;"
    href="javascript:alert('Not yet implemented.')">Save</a></li>
</ul>