<div id="container2">
    <img src="media/headshot.jpg" alt="Meet Steve">

    <h1>Welcome to Exploring Spatial</h1>

    <h2>My learning playground for GIS and web development.</h2>
    Exploring Spatial is a companion site to my blog, <a href="http://ExploringSpatial.wordpress.com" target="_blank">Exploring
    Spatial</a> (see "Recent Posts," on left).&nbsp;

</div>
<div id="container3">
    <h2>Introduction</h2>

    <p>This is a companion web site for my blog, <a href="http://ExploringSpatial.wordpress.com" target="_blank">Exploring
        Spatial</a> (see "Recent Posts," on left).
        My blog is just a personal technology journal where I document what I learn as I explore GIS and mapping
        software for my job. I've
        found that documenting what I learn in my blog is a good learning aid. Making my journal public forces me to dig
        in a little deeper and be more thorough. I closed my S-Corporation, Byteworks, in 2010 when I joined Garmin International,
        but I resurrected my ByteworksInc.com CSS template to host this labs. I kept the Byteworks logo just because I like it.</p>

    <p>The site is built as a single page web site using Backbone.js, so much of the code may be found in Backbone Views
        under /js/views/demos. Feel free to browse this code, reuse what you see, or offer comments or code refinements.</p>

    <h2>Links</h2>

    <p><strong>Blog</strong> - <a href="http://ExploringSpatial.wordpress.com" target="_blank">http://ExploringSpatial.wordpress.com</a>
    </p>

    <p><strong>Code</strong> - <a href="https://github.com/smitchell/exploringspatial" target="_blank">https://github.com/smitchell/exploringspatial</a>
    </p>
</div>