<div id="container2">
    <h1>Exploring Spatial</h1>
</div>
<div id="container3">
    <p>The main purpose of this site is to host labs/demos for my blog, <a href="http://ExploringSpatial.wordpress.com" target="_blank">Exploring
        Spatial</a>. My blog is where I document what I learn as I explore new technology for my job. It's my personal, technical
        journal that that I share publically. Writing about what I discover is a learning aid, and putting it on the Web forces me to dig
        in a little deeper than I might have otherwise.</p>
    <p>I resurrected the site layout from my S-Corp, Byteworks, Inc, which dissolved in 2010 when I went to work for Garmin.
        The Byteworks logo is still on the site for nostalgia.
    </p>
    <p>This site is built as a single-page <a href="http://backbonejs.org" target="_blank">Backbone</a> application. Most of the
        interesting code is contained in Backbone Views stored under /js/views/demos. Feel free to browse the code, reuse what
        you want, or suggest better ways of implementing a demo.</p>

    <h2>Links</h2>

    <p><strong>Blog</strong> - <a href="http://ExploringSpatial.wordpress.com" target="_blank">http://ExploringSpatial.wordpress.com</a>
    </p>

    <p><strong>Code</strong> - <a href="https://github.com/smitchell/exploringspatial" target="_blank">https://github.com/smitchell/exploringspatial</a>
    </p>
</div>