<div id="container2" style="height: 198px">
    <img src="./media/littlerock_thumb.jpg" alt="Running">

    <h1>About Exploring Spatial</h1>

    <h2>Shameless Self Promotion</h2>
    That's me with my co-worker, <a href="http://www.dashaun.net" target="_blank">DaShaun
        Carter</a>, at the
        2012 Little Rock Marathon. We were signing "four" "ten". I finished in 4:14. Close enough.
</div>
<div id="container3">
    <h2>About Steve</h2>
    <ul>
        <li><strong>Father/Husband</strong> - Married with two wonderful daughters adopted from China.
            That's me with my daughter Claire wearing our lovely orange and brown 2011 Gobbler Grind race
            shirts.
        </li>
        <li><strong>Software Engineer</strong> in the Fitness Division at Garmin International - My main focus
            is anything to do with maps. I led the effort to support multiple map providers when we brought in
            Bing maps, developed the <a href="http://connect.garmin.com/modern/course/584546" target="_blank">Course
                Creator</a>
            feature, worked with Oracle on spatial matching for segments and implemented the page to create segments
            from
            activities.
        </li>
        <li><strong>Runner</strong> - I ran 7 marathons between 2009 and 2012, but now I just run a few times a
            week to stay fit.
        </li>
    </ul>
    <div>
        <br/>
        <p><a class="wordpress-follow-button" href="https://exploringspatial.wordpress.com"
           data-blog="https://exploringspatial.wordpress.com" data-lang="en">Follow Exploring Spatial on
            WordPress.com</a></p>
        <p><a href="https://twitter.com/explorespatial" class="twitter-follow-button" data-show-count="false"
           target="_blank" title="Exploring Spatial on Twitter">Follow @explorespatial</a></p>
        <p><a href="//plus.google.com/105422801960852856881?prsrc=3" title="Google+ Profile"
            rel="publisher" target="_blank" style="text-decoration:none;margin-left: 10px;"><img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+"
             style="border:0;width:15px;height:15px;"/></a></p>
    </div>
</div>
<script type="text/javascript">
    (function (d) {
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//widgets.wp.com/platform.js';
        f.parentNode.insertBefore(p, f);
    }(document));

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>
