<div id="container2">
    <h2>About Me</h2>
</div>
<div id="container3">
    <img src="./media/littlerock_thumb.jpg" alt="Running" style = "float: left; margin-right: 10px; margin-bottom: 10px">
    <p>
    When I am not programming I enjoy running or bike commuting. I used run a lot, but now I just run a little for fitness.
    That's me with my co-worker, <a href="http://www.dashaun.net" target="_blank">DaShaun
    Carter</a>, at the
    2012 Little Rock Marathon. We were signing "four" "ten". I finished in 4:14. Close enough.</p>
    <p>I did quite a bit of bike communiting last year and hope to do more. I bought a secondhand fixed gear bike (no coasting),
    and I like it. You won't fine me doing any bike tricks, but I do enjoy feeling so connected to my machine. Could there be a bike upgrade
    in my future? We'll see.</p>
    <p>Travelling is something else that I enjoy. So far I've been to Canada, China, England, France, Germany (for just one day), Gauatamala, and Mexico.
        I'm due for another international trip soon. Actually, Wales and Ireland are on deck for next summer.</p>
    <p>I've got one daughter at the University of Kansas and the other will be out of the next in a couple of years. That is when a
    parent starts living vicariously through their children, right?</p>

    <h1>Moonlighting</h1>
    <p>I enjoy coding in my spare time. If you have work that you would like done, feel free to connect with me on LinkedIn.</p>
    <h2>Social Media</h2>
    <br/>
    <ul>
        <li><a href="https://twitter.com/runner_steve" class="twitter-follow-button" data-show-count="false"
               target="_blank" title="Steve Mitchell on Twitter">Follow @runner_steve</a></li>
        <li><a href="https://twitter.com/explorespatial" class="twitter-follow-button" data-show-count="false"
               target="_blank" title="Explore Spatial on Twitter">Follow @explorespatiale</a></li>
        <li><a class="wordpress-follow-button" href="https://exploringspatial.wordpress.com"
               data-blog="https://exploringspatial.wordpress.com" data-lang="en">Follow Exploring Spatial on
            WordPress.com</a></li>
        <li>
            <script src="//platform.linkedin.com/in.js" type="application/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/stevencmitchell" data-format="hover" data-text="Steven Mitchell"></script>
        </li>
    </ul>
</div>

<script type="application/javascript">
    (function (d) {
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//widgets.wp.com/platform.js';
        f.parentNode.insertBefore(p, f);
    }(document));

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
</script>
