@charset "UTF-8";

.detailsBox {
    clear: both;
	min-height: 365px;
	width: 775px;
    position: absolute;
    padding: 7px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.detailMap {
	min-height: 350px;
	width: 758px;
    padding: 7px;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-front {
    z-index: 1002 !important;
}