<div id="searchBox" class="searchBox" style=""></div>
<div class="returnToSearch" style="display: none">
    <a class="returnTrigger" href="javascript:void(0);">Return to Search</a>
</div>
<div id="detailsMapBox" class="detailsMapBox">
    <div class="map-controls">
        <ul class="map-control-item map-zoom"></ul>
        <div class="map-control-item map-select map-provider"></div>
        <div class="map-control-item map-select map-type"></div>
        <div class="map-control-item map-select map-layers"></div>
    </div>
    <div id="map_container" class="detailMap" style="position: absolute; right: 0; top: 0" ></div>
    <div id="progressbar" style="width: 100%; display: none"><div class="progress-label">Loading...</div></div>
</div>