<h1 id="demo1Title"><a href="#demo/1">Demo 1 - Basic Leaflet Example</a></h1>

<div id="demo1Narrative" class="demoNarrative">
    <p>This is an example of privacy geofencing from my blog post "<a href="https://exploringspatial.wordpress.com/2013/08/22/learning-leaflet/" target="_blank">Learning Leaflet</a>."
        It is lifted from Leaflet's <span style="font-style: italic;"><a
            href="http://leafletjs.com/examples/layers-control-example.html">Layer Groups and Layers Control</a></span>
        tutorial and modified, shows the switching of base map tiles, including to Google and Bing Maps, with Leaflet.</p>>
</div>