@charset "UTF-8";

.county-list {
    font-size: small;
	height: 250px;
	overflow-y: scroll;
 	overflow-x: hidden;
	width: 200px;
	float: left
}

.county-name {
	background-color: white;
    color: inherit;
}


.county-name-label {
    position: absolute;
    height: 50px;
    width:250px;
    font-size: small;
    text-wrap: none;
}

.highlighted {
	background-color: #2262CC !important;
    color: white !important;
}

.logo {
	margin-top: 5px;
	margin-left: 350px;
	 width: 200px; /* Width of new image */
	 height: 200px; /* Height of new image */
	}

.logo.ku {
	background:url("./images/ku.jpeg") no-repeat; !important;
}

.logo.ksu {
	background:url("./images/k-state.png") no-repeat; !important;
}

.logo.wsu {
	background:url("./images/wsu.jpeg") no-repeat; !important;
}