
    <div class="simpleSearchContainer" style="display: none;">
        <div class="searchFieldContainer">
            <div class="searchFields">
                <div class="searchHeader">Country:</div>
                <select id="country_pk" value="-1">
                    <option value="-1" selected></option>
                    <% countries.each(function(codeDefinition){%>
                    <option value="<%= codeDefinition.get('codeDefinitionPk') %>"><%= codeDefinition.get('definition') %></option>
                    <% }) %>
                </select>
                <div class="searchFieldDesc">
                    Country name.
                </div>
            </div>
            <div id="selectLocation" class="searchFields" style="display: none;">
                <div class="searchHeader">
                    <div class="searchLocation">Location:</div>
                    <select id="location_pk" disabled>
                        <option value="-1" selected></option>
                    </select>
                    <div class="searchFieldDesc" style="width:450px;">
                        City, province, etc...
                    </div>
                </div>
            </div>
            <div id="searchButton" class="searchButton">
                <a>Search</a>
                <div id="searchButtonProgress" style="display: none;"></div>
            </div>
            <div id="showTrigger" class="expandSearchTrigger">
                <a>Show More Options</a>
            </div>
            <div id="hideTrigger" class="expandSearchTrigger" style="display: none;">
                <a>Show Fewer Options</a>
            </div>
        </div>
    </div>

    <div class="expandedSearchFilters" style="display: none;">
        <div class="searchOptionsContainer">
            <div class="searchOptionsColumn" >
                <div class="searchOptionsLabel" >Event Type:</div>
                <div class="searchOptionsField">
                    <select id="event_type_pk" value="-1">
                        <option value="-1" selected></option>
                        <% eventTypes.each(function(codeDefinition){%>
                            <option value="<%= codeDefinition.get('codeDefinitionPk') %>"><%= codeDefinition.get('definition') %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="searchOptionsLabel" >Date Range:</div>
                <div class="searchOptionsFields">
                    <input id="minDate" type="text" title="Minimum Date" style="position: relative; z-index: 1002"  /> -
                    <input id="maxDate" type="text" title="Maximum Date" style="position: relative; z-index: 1002"  />
                </div>
            </div>

            <div class="searchOptionsColumn">
                <div class="searchOptionsLabel" >Actor Type:</div>
                <div class="searchOptionsField">
                    <input id="actorType" type="text" title="Actor Type" style="z-index: 1001" />
                </div>
                <div class="searchOptionsLabel">Fatalities:</div>
                <div class="searchOptionsFields">
                    <input id="minFatalities" type="text" title="Min Fatalities" /> -
                    <input id="maxFatalities" type="text" title="Max Fatalities" />
                </div>
            </div>

        </div>
    </div>
    <input type="text" id="actor_type_pk" style="display:none;"  value="-1"/>