<table class="popup">
    <tr><th>Date:</th><td><%=properties.eventDate%></td></tr>
    <tr><th>Type:</th><td><%=properties.eventType%></td></tr>
    <tr><th>Actor 1:</th><td><%=properties.actor1%></td></tr>
    <tr><th>Actor 2:</th><td><%=properties.actor2%></td></tr>
    <tr><th>Country:</th><td><%=properties.country%></td></tr>
    <tr><th>Location:</th><td><%=properties.location%></td></tr>
    <tr><th>Fatalities:</th><td><%=properties.fatalities%></td></tr>
    <tr><th>Source:</th><td><%=properties.source%></td></tr>
    <tr><th>Notes:</th><td><%=properties.notes%></td></tr>
</table>